<form
  style="width: 400px; display: flex; flex-direction: column"
  novalidate
  [formGroup]="formGroup"
  (ngSubmit)="onSubmit()"
>
  <div>
    <input type="text" formControlName="value" />
  </div>
  <div style="display: flex; flex-direction: column">
    <span> If you click the fox-button nothing happens: </span>
    <fox-button type="submit" label="Submit with fox-button"></fox-button>
  </div>
  <div style="display: flex; flex-direction: column">
    <span></span>
    <button type="submit">Submit with normal button</button>
  </div>
</form>
<h3>Submitted Value:</h3>
{{ submittedValue | json }}
